html, body, #mainDiv, #board, #sideDiv, #scores {
	height: 100%;
	margin: 0px;
	text-align: center;
}

body {
	background-color: black;
}

#background {
	width: 100%;
	height: 100%;
}

#mainDiv {
	width: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#sideDiv {
	width: 20%;
	position: absolute;
	top: 0px;
	right: 0px;
}

#board, #scores {
	border-spacing: 2px;
	width: 100%;
	font-weight: bold;
	font-family: sans-serif;
	border-spacing: 6px;
}

#scores {
	position: absolute;
	top: 0px;
	left: 0px;
}

#display{
	position: absolute;
	width: 71.25%;
	height: 71%;
	left: 15%;
	top: 17%;
	z-index: 50;
}

.header {
    background-color: rgb(0,0,171);
    border-bottom: 5px solid black;
}
	
.header, #scores td {
	font-family: sans-serif;
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-transform: uppercase;
	text-shadow: 4px 4px 0px black;
}

td {
	height: auto;
    background-color: rgb(0,0,171);
    text-shadow: 4px 4px 0px black;
}

#board td {
	width: 15%;
	font-size: 250%;
    color: rgb(241,170,105);
    cursor: pointer; 
}

#scores td {
    font-size: 200%;
}

#infobox{
	width: 99%;
	height: 98%;
	background-color: rgb(0,0,171);
	font-size: 150%;
	text-shadow: 4px 4px 0px black;
	color: white;
	z-index: 100;
	font-family:'Kameron', serif;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0.5% 0.5%;
}

#close{
	float: right;
	margin: 2px 20px;
	font-size: large;
}

#close:hover{
	cursor: pointer;
	color: #A00;
}

.completed {
    color: rgb(0,0,171) !important;
    text-shadow: none;
}

#question, #answer {
	font-size: 150%;
}

#show {
	cursor: pointer;
}

br#clear{
	clear: both;
}

.hidden {
	display: none;
}

